# MySQL Database URL format: mysql+pymysql://<user>:<password>@<host>:<port>/<database>
DATABASE_URL=mysql+pymysql://root:YOUR_PASSWORD@localhost:3306/ipss_db
SECRET_KEY=ipss_jwt_production_secret_key_9889_floor_system
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
